flow.json
[
    {
        "id": "7f063300.e79e2c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d900094f.ace7f8",
        "type": "tab",
        "label": "Custom Node Tester",
        "disabled": false,
        "info": ""
    },
    {
        "id": "65c610d3.c6b9",
        "type": "inject",
        "z": "7f063300.e79e2c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "6db26cf1.ce64ac",
                "a5cd142d.2fab58"
            ]
        ]
    },
    {
        "id": "6db26cf1.ce64ac",
        "type": "debug",
        "z": "7f063300.e79e2c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "a5cd142d.2fab58",
        "type": "debug",
        "z": "7f063300.e79e2c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "7c347d5.1a5be84",
        "type": "inject",
        "z": "d900094f.ace7f8",
        "name": "UPPER CASE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "TEST ME",
        "payloadType": "str",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "9790f8a0.fcf458"
            ]
        ]
    },
    {
        "id": "9790f8a0.fcf458",
        "type": "lower-case",
        "z": "d900094f.ace7f8",
        "name": "Test",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "28e8fb72.4d2f14"
            ]
        ]
    },
    {
        "id": "28e8fb72.4d2f14",
        "type": "debug",
        "z": "d900094f.ace7f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 100,
        "wires": []
    }
]